.Add-Form{
  margin-top: 10px;
}
.Add-Form input{
  display: block;
  margin-bottom: 15px;
}
.Add-Form input[type=submit]{
  display: block;
  margin-top: 15px;
  margin-left: 30px;
}
.btnAdd{
  margin-bottom: 10px;
}
.table-user{
  margin-top: 10px;
}
.plus{
  font-size:20px;
}
.toast-top-right {
  top: 70px;
  right: 12px;
}

.alert{
  margin-top:15px;
}
.errinput {
border: 2px solid #ff314b;
}
input.ng-valid {
 border: 2px solid #37b129;
}
select.ng-valid{
  border: 2px solid #37b129;
}
